player-connection-mode=Listen
player-connection-guid=1658095524
player-connection-debug=0
player-connection-wait-timeout=-1
player-connection-ip=192.168.56.1
player-connection-ip=192.168.224.1
player-connection-ip=192.168.119.1
player-connection-ip=192.168.0.13
player-connection-ip=192.168.137.1
profiler-enable-on-startup=1
